In [1]:
import pandas as pd
#import openpyxl

import pip
pip.main(["install", "openpyxl"])

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in c:\users\frede\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.0.10)

Requirement already satisfied: et-xmlfile in c:\users\frede\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.1.2 -> 22.3
[notice] To update, run: C:\Users\frede\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

0

In [2]:
delay_df = pd.read_excel('get_around_delay_analysis.xlsx',engine='openpyxl')
pricing_df = pd.read_csv("get_around_pricing_project.csv")

#delay_df

In [3]:
#Delay cleaning

delay_df.head()

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes
0,505000.0,363965.0,mobile,canceled,NaN,NaN,NaN
1,507750.0,269550.0,mobile,ended,-81.0,NaN,NaN
2,508131.0,359049.0,connect,ended,70.0,NaN,NaN
3,508865.0,299063.0,connect,canceled,NaN,NaN,NaN
4,511440.0,313932.0,mobile,ended,NaN,NaN,NaN

In [4]:
delay_df.isnull().any()

rental_id                                     False
car_id                                        False
checkin_type                                  False
state                                         False
delay_at_checkout_in_minutes                   True
previous_ended_rental_id                       True
time_delta_with_previous_rental_in_minutes     True
dtype: bool

In [5]:
delay_df.isnull().sum()

rental_id                                         0
car_id                                            0
checkin_type                                      0
state                                             0
delay_at_checkout_in_minutes                   4964
previous_ended_rental_id                      19469
time_delta_with_previous_rental_in_minutes    19469
dtype: int64

In [6]:
delay_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21310 entries, 0 to 21309
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   rental_id                                   21310 non-null  float64
 1   car_id                                      21310 non-null  float64
 2   checkin_type                                21310 non-null  object
 3   state                                       21310 non-null  object
 4   delay_at_checkout_in_minutes                16346 non-null  float64
 5   previous_ended_rental_id                    1841 non-null   float64
 6   time_delta_with_previous_rental_in_minutes  1841 non-null   float64
dtypes: float64(5), object(2)
memory usage: 1.1+ MB

In [7]:
delay_df.describe(include="all")

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes
count,21310.000000,21310.000000,21310,21310,16346.000000,1841.000000,1841.000000
unique,NaN,NaN,2,2,NaN,NaN,NaN
top,NaN,NaN,mobile,ended,NaN,NaN,NaN
freq,NaN,NaN,17003,18045,NaN,NaN,NaN
mean,549712.880338,350030.603426,NaN,NaN,59.701517,550127.411733,279.288430
std,13863.446964,58206.249765,NaN,NaN,1002.561635,13184.023111,254.594486
min,504806.000000,159250.000000,NaN,NaN,-22433.000000,505628.000000,0.000000
25%,540613.250000,317639.000000,NaN,NaN,-36.000000,540896.000000,60.000000
50%,550350.000000,368717.000000,NaN,NaN,9.000000,550567.000000,180.000000
75%,560468.500000,394928.000000,NaN,NaN,67.000000,560823.000000,540.000000
max,576401.000000,417675.000000,NaN,NaN,71084.000000,575053.000000,720.000000

In [18]:
delay_df['ontime']=delay_df['delay_at_checkout_in_minutes'].fillna(0).apply(lambda x: 1 if x <= 0 else 0)
delay_df

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes,ontime
0,505000.0,363965.0,mobile,canceled,NaN,NaN,NaN,1
1,507750.0,269550.0,mobile,ended,-81.0,NaN,NaN,1
2,508131.0,359049.0,connect,ended,70.0,NaN,NaN,0
3,508865.0,299063.0,connect,canceled,NaN,NaN,NaN,1
4,511440.0,313932.0,mobile,ended,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...
21305,573446.0,380069.0,mobile,ended,NaN,573429.0,300.0,1
21306,573790.0,341965.0,mobile,ended,-337.0,NaN,NaN,1
21307,573791.0,364890.0,mobile,ended,144.0,NaN,NaN,0
21308,574852.0,362531.0,connect,ended,-76.0,NaN,NaN,1
21309,575056.0,351549.0,connect,ended,35.0,NaN,NaN,0

In [19]:
#Late checkout figures

#Late checkouts versus global checkouts
rentals_global_count = len(delay_df)
late_global = delay_df[(delay_df['delay_at_checkout_in_minutes'] > 0) & (delay_df['delay_at_checkout_in_minutes'] < 720)]
#late_global['ontime']=late_global['delay_at_checkout_in_minutes'].apply(lambda x: 1 if x <= 0 else 0)
late_global_count = len(delay_df[delay_df['delay_at_checkout_in_minutes'] > 0])
late_global_mean = delay_df[delay_df['delay_at_checkout_in_minutes'] > 0]['delay_at_checkout_in_minutes'].mean()

#Late checkouts versus checkouts types (Mobile / Connect)
type_mobile_count = len(delay_df[delay_df['checkin_type'] == 'mobile'])
type_connect_count = len(delay_df[delay_df['checkin_type'] == 'connect'])

#late_type_mobile = len(delay_df[delay_df['checkin_type'] == 'connect'] & delay_df[delay_df['delay_at_checkout_in_minutes'] > 0])
#late_type_mobile = len(delay_df[delay_df['checkin_type']=='mobile'])
#late_type_connect = len(delay_df[delay_df['checkin_type'] == 'connect' & delay_df['delay_at_checkout_in_minutes'] > 0])

late_type_mobile_count = delay_df[(delay_df['checkin_type'] =='mobile') & (delay_df['delay_at_checkout_in_minutes'] > 0)]['rental_id'].count()
late_type_connect_count = delay_df[(delay_df['checkin_type'] =='connect') & (delay_df['delay_at_checkout_in_minutes'] > 0)]['rental_id'].count()

#late_global_mean
late_global
#rentals_numbers

,rental_id,car_id,checkin_type,state,delay_at_checkout_in_minutes,previous_ended_rental_id,time_delta_with_previous_rental_in_minutes,ontime
2,508131.0,359049.0,connect,ended,70.0,NaN,NaN,0
9,513434.0,256528.0,connect,ended,23.0,NaN,NaN,0
12,514257.0,402596.0,mobile,ended,214.0,NaN,NaN,0
13,515147.0,257466.0,mobile,ended,15.0,NaN,NaN,0
17,518895.0,398816.0,mobile,ended,66.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...
21299,571738.0,406927.0,mobile,ended,68.0,NaN,NaN,0
21301,572736.0,393486.0,mobile,ended,180.0,NaN,NaN,0
21303,573305.0,392752.0,mobile,ended,72.0,NaN,NaN,0
21307,573791.0,364890.0,mobile,ended,144.0,NaN,NaN,0
21309,575056.0,351549.0,connect,ended,35.0,NaN,NaN,0

In [ ]:
import math

#Cancellations number vs global cases
cancellations = len(delay_df[delay_df['state'] == 'canceled'])
#cancellations

rental_chain = delay_df.dropna(subset=['previous_ended_rental_id'])
#rental_chain = rental_chain[rental_chain['delay_at_chekout'] == 'canceled']
cancellations_after_booking = len(rental_chain[rental_chain['state'] == 'canceled'])
cancellations_after_booking
#cancellations_after_booking = delay_df[(delay_df[delay_df['state'] == 'canceled']) & (~delay_df['previous_ended_rental_id'].isnull())].count()

229

In [ ]:
rentals_historical = pd.merge(delay_df, delay_df, how='inner', left_on = 'previous_ended_rental_id', right_on = 'rental_id')
rentals_historical.head()

,rental_id_x,car_id_x,checkin_type_x,state_x,delay_at_checkout_in_minutes_x,previous_ended_rental_id_x,time_delta_with_previous_rental_in_minutes_x,rental_id_y,car_id_y,checkin_type_y,state_y,delay_at_checkout_in_minutes_y,previous_ended_rental_id_y,time_delta_with_previous_rental_in_minutes_y
0,511639.0,370585.0,connect,ended,-15.0,563782.0,570.0,563782.0,370585.0,connect,ended,136.0,NaN,NaN
1,519491.0,312389.0,mobile,ended,58.0,545639.0,420.0,545639.0,312389.0,mobile,ended,140.0,NaN,NaN
2,521156.0,392479.0,mobile,ended,NaN,537298.0,0.0,537298.0,392479.0,mobile,ended,NaN,NaN,NaN
3,525044.0,349751.0,mobile,ended,NaN,510607.0,60.0,510607.0,349751.0,mobile,ended,-113.0,NaN,NaN
4,528808.0,181625.0,connect,ended,-76.0,557404.0,330.0,557404.0,181625.0,connect,ended,-352.0,554077.0,120.0

In [ ]:
rentals_historical.sort_values(by=['car_id_x'])
rentals_historical = rentals_historical[rentals_historical['state_x']=='canceled']
rentals_historical = rentals_historical[rentals_historical['delay_at_checkout_in_minutes_y'] > 0]
rentals_historical = rentals_historical[rentals_historical['delay_at_checkout_in_minutes_y'] > rentals_historical['time_delta_with_previous_rental_in_minutes_x']]
rentals_historical['rental_id_x'].count()

37

In [ ]:
rentals_historical.drop(["car_id_y"], axis=1)
rentals_historical.rename(columns = {'rental_id_x':'rental_id','car_id_x':'car_id','checkin_type_x':'checkin_type_before','state_x':'state_before'}, inplace = True)
rentals_historical.sort_values(by=['car_id'])
rentals_historical

,rental_id,car_id,checkin_type_before,state_before,delay_at_checkout_in_minutes_x,previous_ended_rental_id_x,time_delta_with_previous_rental_in_minutes_x,rental_id_y,car_id_y,checkin_type_y,state_y,delay_at_checkout_in_minutes_y,previous_ended_rental_id_y,time_delta_with_previous_rental_in_minutes_y
127,539151.0,282893.0,mobile,canceled,NaN,548646.0,30.0,548646.0,282893.0,mobile,ended,201.0,NaN,NaN
154,553139.0,297851.0,mobile,canceled,NaN,547650.0,240.0,547650.0,297851.0,mobile,ended,410.0,NaN,NaN
170,559037.0,349171.0,connect,canceled,NaN,552392.0,0.0,552392.0,349171.0,connect,ended,46.0,NaN,NaN
184,543745.0,359045.0,connect,canceled,NaN,521852.0,150.0,521852.0,359045.0,connect,ended,650.0,NaN,NaN
205,538224.0,340014.0,connect,canceled,NaN,534999.0,180.0,534999.0,340014.0,connect,ended,346.0,NaN,NaN
214,551372.0,261576.0,mobile,canceled,NaN,547240.0,210.0,547240.0,261576.0,mobile,ended,550.0,NaN,NaN
307,568105.0,351546.0,connect,canceled,NaN,564144.0,120.0,564144.0,351546.0,connect,ended,210.0,NaN,NaN
363,546930.0,316449.0,mobile,canceled,NaN,551866.0,0.0,551866.0,316449.0,mobile,ended,153.0,NaN,NaN
491,561559.0,390927.0,connect,canceled,NaN,537960.0,0.0,537960.0,390927.0,connect,ended,31.0,NaN,NaN
565,556126.0,396250.0,mobile,canceled,NaN,548864.0,510.0,548864.0,396250.0,mobile,ended,527.0,550060.0,120.0
634,564075.0,401387.0,mobile,canceled,NaN,552061.0,60.0,552061.0,401387.0,mobile,ended,240.0,NaN,NaN
637,542207.0,368432.0,mobile,canceled,NaN,556043.0,0.0,556043.0,368432.0,mobile,ended,2.0,NaN,NaN
638,542224.0,327336.0,mobile,canceled,NaN,538452.0,0.0,538452.0,327336.0,mobile,ended,64.0,NaN,NaN
662,534020.0,384040.0,connect,canceled,NaN,550585.0,0.0,550585.0,384040.0,connect,ended,42.0,NaN,NaN
663,527015.0,243721.0,mobile,canceled,NaN,534917.0,120.0,534917.0,243721.0,mobile,ended,131.0,NaN,NaN
709,549023.0,365926.0,connect,canceled,NaN,550970.0,0.0,550970.0,365926.0,connect,ended,596.0,NaN,NaN
822,556882.0,380479.0,mobile,canceled,NaN,558724.0,0.0,558724.0,380479.0,mobile,ended,13.0,555526.0,570.0
904,546592.0,296967.0,connect,canceled,NaN,545025.0,240.0,545025.0,296967.0,connect,ended,415.0,NaN,NaN
978,569087.0,193097.0,connect,canceled,NaN,566731.0,0.0,566731.0,193097.0,connect,ended,252.0,NaN,NaN
1021,548079.0,364890.0,mobile,canceled,NaN,547164.0,450.0,547164.0,364890.0,mobile,ended,597.0,NaN,NaN
1060,550907.0,334190.0,connect,canceled,NaN,549759.0,0.0,549759.0,334190.0,connect,ended,142.0,NaN,NaN
1065,545586.0,384396.0,connect,canceled,NaN,553994.0,60.0,553994.0,384396.0,connect,ended,120.0,NaN,NaN
1099,530845.0,373889.0,mobile,canceled,NaN,536992.0,0.0,536992.0,373889.0,mobile,ended,1.0,NaN,NaN
1164,560412.0,336349.0,connect,canceled,NaN,568759.0,630.0,568759.0,336349.0,connect,ended,1466.0,NaN,NaN
1207,558830.0,353425.0,connect,canceled,NaN,557068.0,0.0,557068.0,353425.0,connect,ended,30.0,NaN,NaN
1215,562555.0,380662.0,mobile,canceled,NaN,567954.0,30.0,567954.0,380662.0,mobile,ended,77.0,NaN,NaN
1253,552462.0,381787.0,connect,canceled,NaN,548193.0,150.0,548193.0,381787.0,connect,ended,158.0,NaN,NaN
1271,572707.0,241021.0,connect,canceled,NaN,574151.0,0.0,574151.0,241021.0,connect,ended,3.0,572285.0,720.0
1351,544699.0,384193.0,connect,canceled,NaN,529134.0,0.0,529134.0,384193.0,connect,ended,22.0,NaN,NaN
1429,550335.0,364199.0,mobile,canceled,NaN,515060.0,60.0,515060.0,364199.0,mobile,ended,452.0,NaN,NaN
1434,556230.0,387976.0,mobile,canceled,NaN,553955.0,720.0,553955.0,387976.0,mobile,ended,885.0,NaN,NaN
1438,539705.0,406161.0,mobile,canceled,NaN,559887.0,0.0,559887.0,406161.0,mobile,ended,5.0,NaN,NaN
1494,551166.0,342699.0,connect,canceled,NaN,548950.0,60.0,548950.0,342699.0,connect,ended,98.0,546290.0,30.0
1625,550972.0,360981.0,mobile,canceled,NaN,548903.0,60.0,548903.0,360981.0,mobile,ended,221.0,549631.0,30.0
1685,568428.0,351660.0,connect,canceled,NaN,563040.0,0.0,563040.0,351660.0,connect,ended,41.0,NaN,NaN
1708,571552.0,403962.0,connect,canceled,NaN,574540.0,90.0,574540.0,403962.0,connect,ended,153.0,NaN,NaN
1824,566008.0,378689.0,mobile,canceled,NaN,564756.0,0.0,564756.0,378689.0,mobile,ended,39.0,NaN,NaN

Pricing Analyzis

In [ ]:
pricing_df.head()

,Unnamed: 0,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183

In [ ]:
pricing_df= pricing_df.drop("Unnamed: 0", axis=1)
pricing_df.head()

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183

In [ ]:
pricing_df.describe(include="all")

,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
count,4843,4.843000e+03,4843.00000,4843,4843,4843,4843,4843,4843,4843,4843,4843,4843,4843.000000
unique,28,NaN,NaN,4,10,8,2,2,2,2,2,2,2,NaN
top,Citroën,NaN,NaN,diesel,black,estate,True,True,False,False,False,False,True,NaN
freq,969,NaN,NaN,4641,1633,1606,2662,3839,3865,3881,2613,3674,4514,NaN
mean,NaN,1.409628e+05,128.98823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.214536
std,NaN,6.019674e+04,38.99336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.568268
min,NaN,-6.400000e+01,0.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000
25%,NaN,1.029135e+05,100.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104.000000
50%,NaN,1.410800e+05,120.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119.000000
75%,NaN,1.751955e+05,135.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,136.000000
max,NaN,1.000376e+06,423.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,422.000000